
# Configs
config/jei/world/*
config/roughlyenoughitems/*
config/oculus.properties
config/smoothboot.json
config/fml.toml
config/forge-client.toml

# .minecraft
crash-reports/*
logs/*
saves/*
ldlib/
local/*
modernfix/*
XaeroWaypoints*
XaeroWorldMap/*
CustomSkinLoader/*
screenshots/*
shaderpacks/*
chiselsandbits/*

# Extensions
**/*.log
**/*.gz
**/*.DS_Store
**/*.jar

# Client data
.idea/
.curseclient
.sl_password
options.txt
patchouli_data.json
usernamecache.json
usercache.json
rhino.local.properties
fancymenu_data/last_world.fmdata
profile.json
emi.json
servers.dat
servers.dat_old
cherishedworlds-favorites.dat
realms_persistence.json
minecraftinstance.json
knownkeys.txt

*.code-workspace
*.zip


# Server Pack
.github/buildtools/serverpack/logs/
.github/buildtools/serverpack/world/
.github/buildtools/serverpack/config/
.github/buildtools/serverpack/crash-reports/
.github/buildtools/serverpack/kubejs/
.github/buildtools/serverpack/mods/
.github/buildtools/serverpack/local/
.github/buildtools/serverpack/xaerominimap-common.txt
.github/buildtools/serverpack/xaeroworldmap-common.txt
.github/buildtools/serverpack/banned-ips.json
.github/buildtools/serverpack/banned-players.json
.github/buildtools/serverpack/ops.json
.github/buildtools/serverpack/whitelist.json