# Normalize text to LF unless a path explicitly requires CRLF.
* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

# Binary Files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.jar binary

# GitHub Linguist
dumps/**/*.* linguist-generated=true
*.log linguist-generated=true
