crash-reports/*
logs/*
saves/*
config/jei/world/*
local/*

XaeroWaypoints*
XaeroWorldMap/*

options.txt
patchouli_data.json
usernamecache.json
usercache.json
rhino.local.properties

profile.json
screenshots/*
