# Configuration file

sulfur {
    # Defines whether wind affects this pollutant or not. [default: true]
    B:affectedByWind=true

    # Determines when this pollutant affects the pollution level of the chunk it is in.
    # Possible values:
    #   ALWAYS - always affects regardless of position.
    #   CLOUD - affects only when it is part of a cloud at the specified height (see concentrationAltitude).
    #   NEVER - never affects chunk pollution level.
    #  [default: CLOUD]
    S:chunkPollutionInfluence=CLOUD

    # Defines a color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    #  Affects smog and sky colors. [default: 0xffe5e533]
    S:color=0xffe5e533

    # Defines the altitude which pollutant blocks will concentrate at. [range: -65 ~ 320, default: 190]
    I:concentrationAltitude=190

    # Defines the amount of pollution at which all negative effects will be maximized. [range: 0 ~ 8192, default: 512]
    I:criticalAmount=512

    # Defines a list of dimensions in which this pollutant will not be generated.
    S:dimensionBlackList <
     >

    # If this list is set, the pollutant will be generated ONLY in listed dimensions, others will be ignored.
    S:dimensionWhiteList <
     >

    # If true, all pollution that exceeds the criticalAmount will gradually dissipate [default: false]
    B:dissipateExcessive=false

    # Defines emission rate for this pollutant. [range: 0.0 ~ 1.0, default: 1.0]
    S:emissionRate=1.0

    # List of materials which can be used to filter this pollutant.
    # Format: materialID, capacity, byproductID
    # <materialID> - the id of the material that will be used to filter this pollutant,
    # <capacity> - how many pollutant blocks each piece of material can filter,
    # <byproduct> - the byproduct of the used filter material.
    S:filterMaterials <
        #minecraft:wool, 8, yellow_dye
     >

    # The lowest number of adjacent gas blocks capable of producing an explosion in the presence of an ignition source.
    # Set to zero to disable explosions. [range: 0 ~ 512, default: 16]
    I:lowerExplosiveLimit=16

    # Defines motion velocity of the pollutant. [range: 0.0 ~ 1.0, default: 0.15]
    S:motionVelocity=0.15

    # List of blocks which this pollutant can pass through.
    S:passableBlocks <
        #minecraft:carpets
        #minecraft:trapdoors
        minecraft:mangrove_roots:*
     >

    # Syntax: minSize-maxSize, rarity, persistence
    #   Size (in blocks) - randomly selected between specified bounds for each cloud
    #   Rarity (in chunks) - a pollution cloud will be generated once every X chunks
    #   Persistence (true/false) - if true, clouds will not gradually dissipate as a result of being affected by underlying blocks or wind
    #  [default: 0-0, 0, false]
    S:pregeneratedClouds=0-0, 0, false

    # Defines the text color for the name of this pollutant. [default: yellow]
    S:textColor=yellow
}


