# Configuration file

##########################################################################################################
# Impacts
#--------------------------------------------------------------------------------------------------------#
# Syntax: effectId 
# Syntax with a threshold: pollutionThreshold% -> effectId 
# 
# Pollution threshold is the minimum percentage of pollution to trigger the specified effect.
##########################################################################################################

Impacts {
    # List of entities with some immunity to pollution.
    # Syntax: pollutionThreshold% -> entityId 
    # Pollution threshold is the minimum percentage of pollution required to impact the specified entity.
    S:immuneEntities <
     >

    sulfur {
        # Effects spreading through air.
        S:air <
            30% -> minecraft:resistance
            60% -> minecraft:speed
         >

        # Effects spreading through contact.
        S:contact <
         >

        # Effects spreading through rain.
        S:rain <
            5% -> minecraft:resistance
            10% -> minecraft:speed
         >
    }

    dust {
        # Effects spreading through air.
        S:air <
         >

        # Effects spreading through contact.
        S:contact <
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    carbon {
        # Effects spreading through air.
        S:air <
            40% -> minecraft:strength
            80% -> minecraft:regeneration
         >

        # Effects spreading through contact.
        S:contact <
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

}


